<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>Voice Input</string>
		<key>imageKey</key>
		<string>instruction1.png</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Smart date time detection</string>
		<key>imageKey</key>
		<string>instruction2.png</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Delete expired to-do item</string>
		<key>imageKey</key>
		<string>instruction3.png</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Search item by text or tag</string>
		<key>imageKey</key>
		<string>instruction4.png</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Simply add  a new tag</string>
		<key>imageKey</key>
		<string>instruction5.png</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Shake the phone to see the sort option</string>
		<key>imageKey</key>
		<string>instruction6.png</string>
	</dict>
</array>
</plist>
